body {
  @apply relative bg-[center_bottom] bg-no-repeat bg-cover before:content-[""] before:absolute before:bg-[rgba(7,7,9,0.7)] before:inset-0;
  background: url("/public/images/bg-1.png") no-repeat;
}
.title {
  @apply text-[white] mb-[1_rem];
}
.box {
  @apply mt-[50px];
}
.panel {
  @apply mt-[2em];
}
.panel-heading {
  @apply bg-[black] text-[white];
  xbackground-image: linear-gradient(to left, #38052f, #070709);
}
.address-box {
  @apply p-[3em];
}
.box .title {
  @apply text-[##ffd700];
}
.navbar {
  @apply bg-[black];
}
.navbar .navbar-item {
  @apply text-[white] hover:text-[white] hover:bg-[#ffd700];
}
.navbar .navbar-it {
  @apply text-[white];
}
.connect-wallet span {
  @apply text-[##ffd700];
}
.connect-wallet:hover {
  @apply bg-[#e1e1e1];
}
.container.main-content {
  @apply max-w-[1000px];
}
.withdraw-error {
  @apply text-[red];
}
.withdraw-success {
  @apply text-[green];
}

/* Ensure the background image covers the entire viewport */
body {
  background-size: cover;
  background-position: center top; /* Ensure the image starts from the top and doesn't cover the navbar */
  background-attachment: fixed; /* Prevent background from scrolling */
}
