.container {
  @apply max-w-[1200px] mt-12 m-auto;
}

.is-size-2 {
  @apply mr-[-300px] text-[white] text-center font-[extrabold] text-xl; /* Adjust the text-xl class for the desired font size */
  margin-left: -500px;
  margin-top: 70px;
 
}
.solo{
  @apply mr-[-300px] text-[white] text-center font-[bold] text-9xl; /* Adjust the text-xl class for the desired font size */
  margin-left: -500px;
  margin-top: 10px;
 
}
.lower-left-image {
  
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40%; /* Adjust the maximum width if needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 50px;
  margin-left: 80px;
  height: 500px;
  width: 800px;
}

.columns {
  @apply justify-center pl-80;
}
.column {
  @apply mb-5;
}
.image-container {
  @apply relative;
}
.image {
  @apply w-[300px] h-[200px] object-cover block mb-[-30px] m-auto rounded-lg;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.overlay {
  @apply absolute flex flex-col justify-end text-[white] text-base font-bold opacity-0 p-4 inset-0;
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out,
    font-weight 0.3s ease-in-out;
}
.image-container:hover .overlay {
  @apply opacity-100 text-[orange] font-extrabold;
}
.image-container:hover .image {
  @apply opacity-80;
}

/* Adjusted class for left position */
.custom-margin-right {
  margin-right: -10px; /* Adjust this value as needed */
}

/* Zig-zag layout adjustments */
.column:nth-child(3),
.column:nth-child(7) {
  margin-left: auto; /* Align to the right */
}

.column:nth-child(4),
.column:nth-child(5),
.column:nth-child(6),
.column:nth-child(8) {
  margin-left: 0; /* Align to the left */
}

/* Adjust margin for NFT 1 and NFT 2 */
.column:nth-child(2) {
  margin-right: -100px; /* Adjust this value as needed */
}
/* Adjust margin for NFT 1 and NFT 2 */
.column:nth-child(3) {
  margin-left: -100px; /* Adjust this value as needed */
}
.column:nth-child(6) {
  margin-right: -100px; /* Adjust this value as needed */
}
.column:nth-child(7) {
  margin-left: -100px; /* Adjust this value as needed */
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: -310px;
}

.create-button {
  background-color: #FF9900;
  color: #F0F0F0;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 20px; /* Adjust this value for more or less roundness */
  cursor: pointer;
  font-size: 16px;
  font-family: 'Inter', sans-serif; /* Set font-family to Inter */
  font-weight: bold; /* Set font-weight to bold */
  font-style: italic; /* Set font-style to italic */
  transition: background-color 0.3s ease-in-out;
 
}

.upload-button {
  background-color: #CACACA;
  color: #FF9900;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #FF9900; /* Border color for the edges */
  border-radius: 20px; /* Adjust this value for more or less roundness */
  cursor: pointer;
  font-size: 16px;
  font-family: 'Inter', sans-serif; /* Set font-family to Inter */
  font-weight: bold; /* Set font-weight to bold */
  font-style: italic; /* Set font-style to italic */
  transition: background-color 0.3s ease-in-out;
}

.create-button:hover {
  background-color: #FFD700; /* Adjust this color for the hover effect */
}

.upload-button:hover {
  background-color: #B0B0B0; /* Adjust this color for the hover effect */
  border-color: #FFD700; /* Border color for the edges on hover */
}