.mint-container {
  @apply p-5 border-2 border-solid border-[#FF9900];
}
.mint-header {
  @apply flex justify-between items-center;
}
.switch-container {
  @apply flex items-center;
}
.switch-label {
  @apply mx-2.5 my-0;
}
.switch {
  @apply relative inline-block w-[60px] h-[34px];
}
.switch input {
  @apply opacity-0 w-0 h-0;
}
.slider {
  @apply absolute cursor-pointer bg-[#FF9900] transition-[0.4s] rounded-[34px] inset-0 before:absolute before:content-[""] before:h-[26px] before:w-[26px] before:bg-[white] before:transition-[0.4s] before:rounded-[50%] before:left-1 before:bottom-1;
  -webkit-transition: 0.4s;
}
.slider:before {
  -webkit-transition: 0.4s;
}
input:checked + .slider {
  @apply bg-[#FF9900] before:translate-x-[26px];
}
input:focus + .slider {
  @apply shadow-[0_0_1px_#FF9900];
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}
.input-container {
  @apply mt-5;
}
label {
  @apply block mb-[5px];
}
input {
  @apply w-full mb-2.5 p-2 border-2 border-solid border-[#FF9900];
}
.button-container {
  @apply mt-5;
}
.remove-button,
.mint-button {
  @apply bg-[#FF9900] text-[white] cursor-pointer mr-2.5 p-2.5 border-2 border-solid border-[#FF9900];
}
.remove-button:hover,
.mint-button:hover {
  @apply bg-[white] text-[#FF9900];
}
